@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*
INDEX CSS
*/

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Quicksand', sans-serif;
}

body
{
  min-height:100vh;
  background-image: linear-gradient(#150a33b6,#605ed4a1),url(images/SkyBackground.png);
}
header
{
  top:0;
  left:0;
  width:100%;
  padding: 50px 50px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

header .filecrypt{
  width:50px;
}

header ul
{
  display:flex;
  justify-content:center;
  align-items:center;
}

/*
This is for list specific padding to the text
*/

header ul li 
{
  list-style:none;
  margin-left:20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius:20px;
}

header ul li a:hover,
header ul li a.active
{
    background : #ffffff73;
    color: #2b1055;
}

button{
  width:140px;
  border:0;
  padding:12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to top, #1b2a6b, #9fb5d6);
  border-radius:6px;
  cursor:pointer;
}

.col-1 h2{
  font-size: 54px;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
}

.col-1 h3{
  font-size:30px;
  color:#95c3f7;
  font-weight: 100;
  margin: 20px 0 10px;
  padding-bottom:10px;
  letter-spacing: 5px;
}

.row{
  display:flex;
  justify-content: center;
  padding-top:10%;
}

.color-box{
  position:absolute;
  right:0;
}


.col-2 .filecrypt{
  width:300px;
  padding:30px 30px 30px 30px;
}

/*
Text Underline Animation Below
*/

.hover_anim {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover_anim:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*
About CSS
*/


.aboutClass h2{
  font-size: 54px;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight:500;
  display:flex;
  justify-content:center;
  padding-left:20px;
  padding-right:20px;
}

.aboutClass h3{
  font-size: 15px;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight:50;
  text-align: center;
  display:flex;
  justify-content:center;
  padding-left:20px;
  padding-right:20px;
}

.aboutClass .cslogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-top:20px;
  padding-bottom:20px;
}

.aboutLogo{
  display:flex;
  justify-content: space-around;
  padding-top:20px;
  padding-bottom:20px;
}

/*
Inspirations CSS
*/

.inspirationsClass h2{
  font-size: 54px;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight:1000;
  display:flex;
  justify-content:center;
  padding-left:20px;
  padding-right:20px;
}

.inspirationsClass h3{
  font-size: 30Spx;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight:50;
  text-align: center;
  display:flex;
  justify-content:center;
  padding-left:20px;
  padding-right:20px;
}

.inspirationsClass .lockfile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-top:20px;
  padding-bottom:20px;
}

/*
Transition between web pages
*/


.container{ /* Main Page Transition */
  animation: transitionIn 0.75s
}

.aboutClass{ /* About Page Transition */
  animation: transitionIn 0.75s
}

.inspirationsClass{ /* Inspiration Page Transition */
  animation: transitionIn 0.75s
}


@keyframes transitionIn {
  from{
    opacity:0;
    transform: rotateX(-10deg);
  }

  to {
    opacity:1;
    transform:rotateX(0);
  }
}