@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/*
INDEX CSS
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    min-height: 100vh;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .filecrypt {
    width: 50px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
This is for list specific padding to the text
*/

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

header ul li a:hover {
    background: #ffffff73;
    color: #2b1055;
}

.indexText a {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to top, #5372f8, #5a90e0);
    border-radius: 6px;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}

.indexText h2 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.indexText h3 {
    font-size: 30px;
    color: #95c3f7;
    font-weight: 100;
    margin: 20px 0 10px 10px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.indexClass {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;

    border-left: 20px;
    border-right: 20px;
}

.indexImage .filecrypt {
    width: 250px;
    padding: 30px 30px 30px 30px;
    margin-left: 0.1%;
    margin-right: 10%;
}

/*
Text Underline Animation Below
*/

.hover_anim {
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.hover_anim:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover_anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.video-container {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-container .indexVideo {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: brightness(50%);

    z-index: -2;
}

/*
About CSS
*/

.aboutClass h2 {
    font-size: 54px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutClass h3 {
    font-size: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 50;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutClass .cslogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutLogo {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
Inspirations CSS
*/

.inspirationsClass h2 {
    font-size: 54px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.inspirationsClass h3 {
    font-size: 30Spx;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 50;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.inspirationsClass img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

/*
excryptPage
*/

.encryptContainer {
    background-image: url("images/Encrypt\ Page\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.eText {
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 50;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.eButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eButtons button {
    font-size: 20px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    border-radius: 5px;
    border-color: #2a105500;
    background-color: #5372f8;
    color: rgb(218, 255, 241);
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 0px 25px;
    z-index: 3;
    cursor: pointer;
}

.drop-zone {
    max-width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #a166ff;
    border-radius: 10px;

    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
}

.output_zone {
    max-width: 400px;
    height: 150px;
    padding: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #cccccc;
    border: 4px dashed #a8cfff;
    border-radius: 10px;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.output_zone h3 {
    font-size: 10px;
    color: #e5f1ff;
    font-weight: 100;
    margin: 20px 0 10px 10px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.popup-background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    visibility: hidden;
}

/*
Transition between web pages
*/

.indexClass {
    /* Main Page Transition */
    animation: transitionIn 0.75s;
}

.aboutClass {
    /* About Page Transition */
    animation: transitionIn 0.75s;
}

.inspirationsClass {
    /* Inspiration Page Transition */
    animation: transitionIn 0.75s;
}

.funcContainer {
    /* Encryption Page */
    animation: slowTransition 1.25s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes slowTransition {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
}

::-webkit-scrollbar-track {
    background-color: #150a33b6;

}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #26a8f3;
}
