<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FiCrypt: File Safety made Easy</title>
  <link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='images/FiCrypt_Logo.png')}}">
</head>

<body class="container">

  <div class="video-container">
    <video autoplay loop muted plays-inline class="indexVideo">
      <source src="{{url_for('static', filename='videos/Earth_Video.mp4')}}" type="video/mp4" 、>
    </video>
  </div>

  <header>
    <a href="{{url_for('home_page')}}"><img src="{{url_for('static', filename='images/FiCrypt_Logo.png')}}" class="filecrypt"></a>
    <ul>
      <li><a href="{{url_for('home_page')}}" class="hover_anim">Main</a></li>
      <li><a href="#" class="hover_anim">About</a></li>
      <li><a href="{{url_for('inspirations_page')}}" class="hover_anim">Inspirations</a></li>
    </ul>
  </header>

  <div class="aboutClass">
    <h2>ABOUT THE APP</h2>
    <h3>
      <br>
      <br>
      This app was started on September 11th of 2022 by Brian Wang & Devin Wang.<br>
      Part of the reason why we built this is for users to easily encrypt files for employees within large companies.<br>
      With a new home-made encryption method, it will be difficult for others to "hack" or decrypt these files without a key.<br>
      <br>
      <br>
      <br>
    </h3>

    <h3>
      The app does not store any information about its users, such as what they encrypt or decrypt, passwords, etc.<br>
      Also, this project is completely open source, which is perfect for anyone to install or access to see our<br>
      development process. They can also improve on it as they wish.<br>
      <br>
      <br>
      <br>
      <br>
    </h3>

    <a href ="https://www.congressionalappchallenge.us/" target="_blank" rel="noopener noreferrer">
      <img src="{{url_for('static', filename='images/Congressional_App_Logo.png')}}" class="cslogo"></img>
    </a>
    



  </div>

</body>

</html>