<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FiCrypt: File Safety made Easy</title>
  <link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='images/FiCrypt_Logo.png')}}">
</head>

<body class="container">

  <div class="video-container">
    <video autoplay loop muted plays-inline class="indexVideo">
      <source src="{{url_for('static', filename='videos/About_Video.mp4')}}" type="video/mp4">
    </video>
  </div>

  <header>
    <a href="{{url_for('home_page')}}"><img src="{{url_for('static', filename='images/FiCrypt_Logo.png')}}" class="filecrypt"></a>
    <ul>
      <li><a href="{{url_for('home_page')}}" class="hover_anim">Main</a></li>
      <li><a href="#" class="hover_anim">About</a></li>
      <li><a href="{{url_for('inspirations_page')}}" class="hover_anim">Inspirations</a></li>
    </ul>
  </header>

  <div class="aboutClass">
    <h2>ABOUT THE APP</h2>
    <h3>
      <br>
      <br>
      This app was started 3 days prior to the igniteCS Expo (September 11th Registration), by Brian Wang & Devin Wang.<br>
      Part of the reason why we built this is for users to easily encrypt files for employees within large companies.<br>
      With a new home-made encryption method, it will be difficult for others to "hack" or decrypt these files without a key.<br>
      <br>
      <br>
      <br>
    </h3>

    <h3>A download link will be given, and users can download the encrypted file.<br>
      They can then decrypt this file back here with a key.<br>
      <br>
      <br>
      <br>
      <br>
    </h3>

    <img src="{{url_for('static', filename='images/igniteCS_Logo.png')}}" class="cslogo"></img>


  </div>

</body>

</html>