<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FiCrypt: File Safety made Easy</title>
  <link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" />
  <script defer src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<!-- Ignore Error Below, Required for Flask to Load Background Image Properly -->
<body class="encryptContainer" style="background-image: linear-gradient(#150a33b6, #605ed4a1), url({{url_for('static', filename='images/Website_BG_Encryption.png')}})">

  <header>
    <a href="{{url_for('home_page')}}"><img src="{{url_for('static', filename='images/FiCrypt_Logo.png')}}" class="filecrypt"></a>
    <ul>
      <li><a href="{{url_for('home_page')}}" class="hover_anim">Main</a></li>
      <li><a href="{{url_for('about_page')}}" class="hover_anim">About</a></li>
      <li><a href="{{url_for('inspirations_page')}}" class="hover_anim">Inspirations</a></li>
    </ul>
  </header>

  <div class="funcContainer">
    <div class="eText">
      <h3>You can encrypt & decrypt files here.</h2>
    </div>
    <div class="eButtons">
      <button type="button" class="EncryptB">Encrypt+</button>
      <button type="button" class="DecryptB">Decrypt-</button>
    </div>

    <div class="drop-zone">
      <span class="drop-zone__prompt">Drop file here or click to upload</span>
      <input type="file" name="myFile" class="drop-zone__input">
    </div>


    <div class="output_zone">
      <span class="output-zone__prompt">OUTPUT</span>
      <h3 class="output-zone__h3">Keep in mind that the files will not decrypt if you do not give an encrypted file that came from this site.</h3>
    </div>

  </div>

  <div class="popup-background"></div>

</body>

</html>