<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FiCrypt: File Safety made Easy</title>
  <link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='images/FiCrypt_Logo.png')}}">
  <script defer src="{{url_for('static', filename='js/drag_and_drop.js')}}"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
</head>

<body class="encryptContainer">
  <div class="video-container">
    <video autoplay loop muted plays-inline class="indexVideo">
      <source src="{{url_for('static', filename='videos/MilkWay_Video.mp4')}}" type="video/mp4" 、>
    </video>
  </div>


  <header>
    <a href="{{url_for('home_page')}}"><img src="{{url_for('static', filename='images/FiCrypt_Logo.png')}}" class="filecrypt"></a>
    <ul>
      <li><a href="{{url_for('home_page')}}" class="hover_anim">Main</a></li>
      <li><a href="{{url_for('about_page')}}" class="hover_anim">About</a></li>
      <li><a href="{{url_for('inspirations_page')}}" class="hover_anim">Inspirations</a></li>
    </ul>
  </header>

  <div class="funcContainer">
    <div class="eText">
      <h3>You can encrypt & decrypt files here.</h2>
    </div>
    <div class="eButtons">
      <button type="button" class="EncryptB">
        <img class="btnImg" src="{{url_for('static', filename='images/Encrypt_File_Icon.png')}}" alt="" />
        Encrypt
      </button>

      <button type="button" class="DecryptB">
        <img class="btnImg" src="{{url_for('static', filename='images/Decrypt_File_Icon.png')}}" alt="" />
        Decrypt
      </button>
    </div>

    <svg>
      <circle class="bg" cx="57" cy="57" r="38" />
      <circle class="meter-1" cx="57" cy="57" r="38" />
    </svg>

    <div class="drop-zone">
      <span class="drop-zone__prompt">Drop file here or click to upload<br><br>(Max File Size: 25MB)</span>
      <form class="submit-form" method="post" enctype="multipart/form-data" value="">
        <input type="file" name="file" class="drop-zone__input" />
        <input type="hidden" name="action" id="file_action" />
        <input type="hidden" name="file_password" id="file_password" />
      </form>
    </div>

    <div class="output_zone">
      <span class="output-zone__prompt">OUTPUT</span>
      <h3 class="output-zone__h3">Keep in mind that the files will not decrypt if you do not give an encrypted file that came from this site.</h3>
    </div>
  </div>

</body>

</html>