<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FiCrypt: File Safety made Easy</title>
  <link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='images/FiCrypt_Logo.png')}}">
</head>

<body class="container">

  <div class="video-container">
    <video autoplay loop muted plays-inline class="indexVideo">
      <source src="{{url_for('static', filename='videos/Main_Page_Video.mp4')}}" type="video/mp4" />
    </video>
  </div>

  <header>
    <a href="{{url_for('home_page')}}"><img src="{{url_for('static', filename='images/FiCrypt_Logo.png')}}" class="filecrypt"></a>
    <ul>
      <li><a href="{{url_for('home_page')}}" class="hover_anim">Main</a></li>
      <li><a href="{{url_for('about_page')}}" class="hover_anim">About</a></li>
      <li><a href="#" class="hover_anim">Inspirations</a></li>
    </ul>
  </header>

  <div class="inspirationsClass">
    <h2>INSPIRATIONS</h2>
    <h3>
      <br>
      <br>
      We absolutely love the cybersecurity pathway in school!<br>
      <br>
      One of the biggest inspirations for us is our love for computer science and cybersecurity
      <br>
      Often, it is hard to safely navigate the realms of the digital world.
      <br>
      We will try to negate these hardships through our personal developments of apps and the spreading of these dangers.
      <br>
      <br>
      <br>
    </h3>

    <img src="{{url_for('static', filename='images/CyberSecurity_Logo.png')}}"></img>

  </div>

</body>

</html>